alabala/xml-ws/wsdl/PDFGenerator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://api.danielprocter.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://api.danielprocter.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <!-- define types, objects etc -->
  <wsdl:types>
    <s:schema targetNamespace="http://api.danielprocter.com">
	<!-- ToPDF function :\ -->
      <s:element name="ToPDF">
        <s:complexType>
          <s:sequence><s:element name="Key" type="s:string" minOccurs="0" maxOccurs="1"/><s:element name="EncodedData" type="s:string" minOccurs="0" maxOccurs="1"/><s:element name="Image" type="s:string" minOccurs="0" maxOccurs="1"/>
          </s:sequence>
        </s:complexType>
      </s:element>
	  <!-- ToPDF response -->
      <s:element name="ToPDFResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="ToPDFResult" type="tns:ToPDFResult"/>
          </s:sequence>
        </s:complexType>
      </s:element>
	  <!-- ToPDF response object -->
      <s:complexType name="ToPDFResult">
        <s:sequence><s:element name="StatusCode" type="s:string" minOccurs="0" maxOccurs="1"/><s:element name="StatusText" type="s:string" minOccurs="0" maxOccurs="1"/><s:element name="ID" type="s:string" minOccurs="0" maxOccurs="1"/><s:element name="EncodedPDF" type="s:string" minOccurs="0" maxOccurs="1"/></s:sequence>
      </s:complexType>
	  <!-- DestroyPDF function :\ -->
      <s:element name="DestroyPDF">
        <s:complexType>
          <s:sequence><s:element name="Key" type="s:string" minOccurs="0" maxOccurs="1"/><s:element name="ID" type="s:string" minOccurs="0" maxOccurs="1"/>
          </s:sequence>
        </s:complexType>
      </s:element>
	  <!-- DestroyPDF response -->
      <s:element name="DestroyPDFResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="DestroyPDFResult" type="tns:DestroyPDFResult"/>
          </s:sequence>
        </s:complexType>
      </s:element>
	  <!-- DestroyPDF response object -->
      <s:complexType name="DestroyPDFResult">
        <s:sequence><s:element name="StatusCode" type="s:string" minOccurs="0" maxOccurs="1"/><s:element name="StatusText" type="s:string" minOccurs="0" maxOccurs="1"/></s:sequence>
      </s:complexType>
	  <!-- AuthenticateAmazonRestRequest function :\ -->
      <s:element name="AuthenticateAmazonRestRequest">
        <s:complexType>
          <s:sequence><s:element name="Key" type="s:string" minOccurs="0" maxOccurs="1"/><s:element name="Url" type="s:string" minOccurs="0" maxOccurs="1"/><s:element name="AccessKey" type="s:string" minOccurs="0" maxOccurs="1"/><s:element name="SecretKey" type="s:string" minOccurs="0" maxOccurs="1"/>
          </s:sequence>
        </s:complexType>
      </s:element>
	  <!-- AuthenticateAmazonRestRequest response -->
      <s:element name="AuthenticateAmazonRestRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="AuthenticateAmazonRestRequestResult" type="tns:AuthenticateAmazonRestRequestResult"/>
          </s:sequence>
        </s:complexType>
      </s:element>
	  <!-- AuthenticateAmazonRestRequest response object -->
      <s:complexType name="AuthenticateAmazonRestRequestResult">
        <s:sequence><s:element name="Result" type="s:string" minOccurs="0" maxOccurs="1"/></s:sequence>
      </s:complexType>
	  <!-- AmazonCheckout function :\ -->
      <s:element name="AmazonCheckout">
        <s:complexType>
          <s:sequence><s:element name="Key" type="s:string" minOccurs="0" maxOccurs="1"/><s:element name="SerializedItems" type="s:string" minOccurs="0" maxOccurs="1"/><s:element name="SiteRef" type="s:string" minOccurs="0" maxOccurs="1"/><s:element name="Tag" type="s:string" minOccurs="0" maxOccurs="1"/><s:element name="Locale" type="s:string" minOccurs="0" maxOccurs="1"/><s:element name="RawLocale" type="s:string" minOccurs="0" maxOccurs="1"/>
          </s:sequence>
        </s:complexType>
      </s:element>
	  <!-- AmazonCheckout response -->
      <s:element name="AmazonCheckoutResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="AmazonCheckoutResult" type="tns:AmazonCheckoutResult"/>
          </s:sequence>
        </s:complexType>
      </s:element>
	  <!-- AmazonCheckout response object -->
      <s:complexType name="AmazonCheckoutResult">
        <s:sequence><s:element name="Result" type="s:string" minOccurs="0" maxOccurs="1"/></s:sequence>
      </s:complexType>
	  <!-- StoreAmazonSearch function :\ -->
      <s:element name="StoreAmazonSearch">
        <s:complexType>
          <s:sequence><s:element name="Key" type="s:string" minOccurs="0" maxOccurs="1"/><s:element name="Keywords" type="s:string" minOccurs="0" maxOccurs="1"/><s:element name="Index" type="s:string" minOccurs="0" maxOccurs="1"/><s:element name="SiteRef" type="s:string" minOccurs="0" maxOccurs="1"/><s:element name="Locale" type="s:string" minOccurs="0" maxOccurs="1"/><s:element name="Category" type="s:string" minOccurs="0" maxOccurs="1"/>
          </s:sequence>
        </s:complexType>
      </s:element>
	  <!-- StoreAmazonSearch response -->
      <s:element name="StoreAmazonSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="StoreAmazonSearchResult" type="tns:StoreAmazonSearchResult"/>
          </s:sequence>
        </s:complexType>
      </s:element>
	  <!-- StoreAmazonSearch response object -->
      <s:complexType name="StoreAmazonSearchResult">
        <s:sequence><s:element name="Result" type="s:string" minOccurs="0" maxOccurs="1"/></s:sequence>
      </s:complexType>
	  </s:schema>
  </wsdl:types><!-- ToPDF messages -->
  <wsdl:message name="ToPDFSoapIn">
    <wsdl:part name="parameters" element="tns:ToPDF"/>
  </wsdl:message>
  <wsdl:message name="ToPDFSoapOut">
    <wsdl:part name="parameters" element="tns:ToPDFResponse"/>
  </wsdl:message>
	<!-- DestroyPDF messages -->
  <wsdl:message name="DestroyPDFSoapIn">
    <wsdl:part name="parameters" element="tns:DestroyPDF"/>
  </wsdl:message>
  <wsdl:message name="DestroyPDFSoapOut">
    <wsdl:part name="parameters" element="tns:DestroyPDFResponse"/>
  </wsdl:message>
	<!-- AuthenticateAmazonRestRequest messages -->
  <wsdl:message name="AuthenticateAmazonRestRequestSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateAmazonRestRequest"/>
  </wsdl:message>
  <wsdl:message name="AuthenticateAmazonRestRequestSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateAmazonRestRequestResponse"/>
  </wsdl:message>
	<!-- AmazonCheckout messages -->
  <wsdl:message name="AmazonCheckoutSoapIn">
    <wsdl:part name="parameters" element="tns:AmazonCheckout"/>
  </wsdl:message>
  <wsdl:message name="AmazonCheckoutSoapOut">
    <wsdl:part name="parameters" element="tns:AmazonCheckoutResponse"/>
  </wsdl:message>
	<!-- StoreAmazonSearch messages -->
  <wsdl:message name="StoreAmazonSearchSoapIn">
    <wsdl:part name="parameters" element="tns:StoreAmazonSearch"/>
  </wsdl:message>
  <wsdl:message name="StoreAmazonSearchSoapOut">
    <wsdl:part name="parameters" element="tns:StoreAmazonSearchResponse"/>
  </wsdl:message>
	<wsdl:portType name="ServiceSoap"><!-- ToPDF operation -->
    <wsdl:operation name="ToPDF">
      <wsdl:input message="tns:ToPDFSoapIn"/>
      <wsdl:output message="tns:ToPDFSoapOut"/>
    </wsdl:operation>
	<!-- DestroyPDF operation -->
    <wsdl:operation name="DestroyPDF">
      <wsdl:input message="tns:DestroyPDFSoapIn"/>
      <wsdl:output message="tns:DestroyPDFSoapOut"/>
    </wsdl:operation>
	<!-- AuthenticateAmazonRestRequest operation -->
    <wsdl:operation name="AuthenticateAmazonRestRequest">
      <wsdl:input message="tns:AuthenticateAmazonRestRequestSoapIn"/>
      <wsdl:output message="tns:AuthenticateAmazonRestRequestSoapOut"/>
    </wsdl:operation>
	<!-- AmazonCheckout operation -->
    <wsdl:operation name="AmazonCheckout">
      <wsdl:input message="tns:AmazonCheckoutSoapIn"/>
      <wsdl:output message="tns:AmazonCheckoutSoapOut"/>
    </wsdl:operation>
	<!-- StoreAmazonSearch operation -->
    <wsdl:operation name="StoreAmazonSearch">
      <wsdl:input message="tns:StoreAmazonSearchSoapIn"/>
      <wsdl:output message="tns:StoreAmazonSearchSoapOut"/>
    </wsdl:operation>
	</wsdl:portType><wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
	<!-- ToPDF binding -->
    <wsdl:operation name="ToPDF">
      <soap:operation soapAction="http://api.danielprocter.com/ToPDF" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation><!-- DestroyPDF binding -->
    <wsdl:operation name="DestroyPDF">
      <soap:operation soapAction="http://api.danielprocter.com/DestroyPDF" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation><!-- AuthenticateAmazonRestRequest binding -->
    <wsdl:operation name="AuthenticateAmazonRestRequest">
      <soap:operation soapAction="http://api.danielprocter.com/AuthenticateAmazonRestRequest" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation><!-- AmazonCheckout binding -->
    <wsdl:operation name="AmazonCheckout">
      <soap:operation soapAction="http://api.danielprocter.com/AmazonCheckout" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation><!-- StoreAmazonSearch binding -->
    <wsdl:operation name="StoreAmazonSearch">
      <soap:operation soapAction="http://api.danielprocter.com/StoreAmazonSearch" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation></wsdl:binding><wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
	<!-- ToPDF binding -->
    <wsdl:operation name="ToPDF">
      <soap12:operation soapAction="http://api.danielprocter.com/ToPDF" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation><!-- DestroyPDF binding -->
    <wsdl:operation name="DestroyPDF">
      <soap12:operation soapAction="http://api.danielprocter.com/DestroyPDF" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation><!-- AuthenticateAmazonRestRequest binding -->
    <wsdl:operation name="AuthenticateAmazonRestRequest">
      <soap12:operation soapAction="http://api.danielprocter.com/AuthenticateAmazonRestRequest" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation><!-- AmazonCheckout binding -->
    <wsdl:operation name="AmazonCheckout">
      <soap12:operation soapAction="http://api.danielprocter.com/AmazonCheckout" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation><!-- StoreAmazonSearch binding -->
    <wsdl:operation name="StoreAmazonSearch">
      <soap12:operation soapAction="http://api.danielprocter.com/StoreAmazonSearch" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation></wsdl:binding>  <!-- define our service description -->
  <wsdl:service name="API"> 
  	<!-- soap 1.1 service -->
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://api.danielprocter.com/service/"/>
    </wsdl:port>
	
	<!-- soap 1.2 service -->
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://api.danielprocter.com/service/"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>