alabala/xml-ws/xml-validator/web-service/xml-validator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:tns="http://www.infoiasi.ro/XMLValidator"
  xmlns:s="http://www.w3.org/2001/XMLSchema"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  targetNamespace="http://www.infoiasi.ro/XMLValidator"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified"
      targetNamespace="http://www.infoiasi.ro/XMLValidator">
      <s:element name="CheckIfExists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filename"
              type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckIfExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckIfExistsResult"
              type="s:boolean"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Validate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filename"
              type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateResult"
              type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckIfExistsSoapIn">
    <wsdl:part name="parameters" element="tns:CheckIfExists"/>
  </wsdl:message>
  <wsdl:message name="CheckIfExistsSoapOut">
    <wsdl:part name="parameters" element="tns:CheckIfExistsResponse"/>
  </wsdl:message>
  <wsdl:message name="ValidateSoapIn">
    <wsdl:part name="parameters" element="tns:Validate"/>
  </wsdl:message>
  <wsdl:message name="ValidateSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateResponse"/>
  </wsdl:message>
  <wsdl:portType name="XMLValidatorSoap">
    <wsdl:operation name="CheckIfExists">
      <wsdl:input message="tns:CheckIfExistsSoapIn"/>
      <wsdl:output message="tns:CheckIfExistsSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <wsdl:input message="tns:ValidateSoapIn"/>
      <wsdl:output message="tns:ValidateSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="XMLValidatorSoap" type="tns:XMLValidatorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CheckIfExists">
      <soap:operation
        soapAction="http://www.infoiasi.ro/XMLValidator/CheckIfExists"
        style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <soap:operation soapAction="http://www.infoiasi.ro/XMLValidator/Validate"
        style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="XMLValidatorSoap12" type="tns:XMLValidatorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CheckIfExists">
      <soap12:operation
        soapAction="http://www.infoiasi.ro/XMLValidator/CheckIfExists"
        style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <soap12:operation
        soapAction="http://www.infoiasi.ro/XMLValidator/Validate"
        style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="XMLValidator">
    <wsdl:port name="XMLValidatorSoap" binding="tns:XMLValidatorSoap">
      <soap:address
        location="http://localhost:8080/xml-validator/xml-validator.asmx"/>
    </wsdl:port>
    <wsdl:port name="XMLValidatorSoap12" binding="tns:XMLValidatorSoap12">
      <soap12:address
        location="http://localhost:8080/xml-validator/xml-validator.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
